.footer {
  display: flex;
  justify-content: space-between;
}
p {
  font-size: 12px;
}

.add-container{
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  max-width: 100%;
  padding: 3em 3em 0em;
}
.paginator{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  margin: 1em 1em 3em;
}
